{% load wagtailcore_tags wagtailimages_tags%}
<!--Page Title-->
{% image page.banner.banner_image fill-1831x685 as banner_background %}
<section class="page-title" style="background-image:url({{banner_background.url}});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>{{page.banner.title}}</h1>
                <span class="title">{{page.banner.banner_text}}</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->