{% load wagtailcore_tags wagtailimages_tags static %}

<!-- Main Footer -->
<footer class="main-footer alternate" style="background-image: url(../static/images/background/5.jpg);">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="footer-logo">
                                    <figure>
                                        {% image page.navigation_bar.logo fill-155x70 as logo_img %}
                                        <a href="/"><img src="{{logo_img.url}}" alt=""></a>
                                    </figure>
                                </div>
                                <div class="widget-content">
                                    <div class="text">{{page.navigation_bar.footer_text}}</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget recent-posts">
                                <h2 class="widget-title">Recent Posts</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    {% for post in latest_posts %}
                                        {% image post.blog_image fill-80x70 as blog_img %}
                                        <div class="post">
                                            <div class="thumb"><a href="{{post.url}}"><img src="{{blog_img.url}}" alt=""></a></div>
                                            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
                                            <ul class="info">
                                                <li>{{post.post_date|date:"M d"}}</li>
                                                <li>{{post.author}}</li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
                
                <!--Big Column-->
                <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                             <div class="footer-widget links-widget">
                                <h2 class="widget-title">Useful links</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/projects">Project</a></li>
                                        <li><a href="/blog-classic">News</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget gallery-widget">
                                <h2 class="widget-title">Recent Works</h2>
                                <div class="widget-content">
                                    <div class="outer clearfix">
                                        {% for project in recent_works %}
                                            <figure class="image">  
                                            {% with project.images|first as first_img %}
                                                {% image first_img.value.img fill-970x560 as preview_img %}
                                                    <a href="{{preview_img.url}}" class="lightbox-image" title="Image Title Here">
                                            {% endwith %}
                                            {% with project.images|first as first_img1 %}
                                                {% image first_img1.value.img fill-80x70 as thumb_img %}
                                                    <img src="{{thumb_img.url}}" alt=""></a>
                                            {% endwith %}
                                                    
                                            </figure>
                                        {% endfor %}
                                    </div>
                                </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="social-links">
                    <ul class="social-icon-two">
                        <li><a href="{{page.navigation_bar.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{page.navigation_bar.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{page.navigation_bar.google}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="{{page.navigation_bar.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>Copyright © 2020 <a href="/">Newblis</a> All right reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->