{% load static %}
<!-- Main Header-->
<header class="main-header header-style-two">
    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="top-left">
                    <ul class="contact-list clearfix">
                        <li><i class="fa fa-volume-control-phone"></i> (503)-405-6045</li>
                        <li><i class="fa fa-envelope"></i><a href="#">paulkatok77@gmail.com</a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <ul class="social-icon-four clearfix">
                        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box clearfix">
                <div class="logo-box">
                    <div class="logo"><a href="/"><img src="{% static 'images/logo-2.png' %}" alt="" title=""></a></div>
                </div>

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md ">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
                        
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a></li>
                                <li class=""><a href="/about">About</a></li>
                                <li class=""><a href="/services">Services</a></li>
                                <li class=""><a href="/projects">Projects</a></li>
                                <li class=""><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->                        
                </div>
            </div>
        </div>
    </div>

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/" title=""><img src="{% static 'images/logo-small.png' %}" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse show 

                    collapse" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="/">Home</a></li>
                            <li class=""><a href="/about">About</a></li>
                            <li class=""><a href="/services">Services</a></li>
                            <li class=""><a href="/projects">Projects</a></li>
                            <li class=""><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul> 
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!--End Main Header -->