{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block content %}
    {% include 'banner.html' %}

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar services-sidebar">
                    
                        <!--Blog Category Widget-->
                        <!-- <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                <li class="active"><a href="/services">COMMERCIAL DESIGN</a></li>
                                <li><a href="/services">LANDESCAPE</a></li>
                                <li><a href="/services">INTERIOR DESIGN</a></li>
                                <li><a href="/services">HOUSE INTERIRO DESIGN</a></li>
                                <li><a href="/services">COMPLEATE INTERIOR</a></li>
                                <li><a href="/services">ARCHITECTURE DESIGN</a></li>
                            </ul>
                        </div> -->

                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <h3 class="sidebar-title">Download Brochures</h3>
                            {% for brochure in page.brochure %}
                                <div class="brochure-box">
                                    <div class="inner">
                                        <span class="icon fa fa-file-{{brochure.value.brochure_type}}-o"></span>
                                        <div class="text">{{brochure.value.title}} .{{brochure.value.brochure_type}}</div>
                                    </div>
                                    <a href="{{brochure.value.get_link.url}}" target="_blank" class="overlay-link"></a>
                                </div>
                            {% endfor %}                            
                        </div>
                    
                        <!--Help Box-->
                        <div class="help-box" style="background-image:url(../static/images/resource/brochure-bg.jpg)">
                            <div class="inner">
                                <span class="title">Quick Contact</span>
                                <h2>Get Solution</h2>
                                <div class="text">Contact us at the Interior office nearest to you or submit a business inquiry online.</div>
                                <a class="theme-btn btn-style-three" href="/contact">Contact</a>
                            </div>
                        </div>
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="service-detail">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    {% for img_slide in page.image_slider %}
                                        {% image img_slide.value.img fill-770x450 as img_slider %}
                                        <figure class="image"><img src="{{img_slider.url}}" alt="" /></figure>
                                    {% endfor %}
                                </div>
                            </div>
                            <h2>Commercial Design</h2>
                            {{page.text | safe}}
                            {% for quote in page.quotes %}
                                <blockquote>{{quote.value.quote}}<cite>{{quote.value.author_name}}</cite></blockquote>
                            {% endfor %}
                            
                        </div>
                        
                        <!--Product Info Tabs-->
                        <div class="product-info-tabs">
                            <!--Product Tabs-->
                            <div class="prod-tabs tabs-box">
                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    {% for tab in page.tabs.tabs %}
                                        <li data-tab="#{{tab.value.tab_title|lower}}" class="tab-btn {% if forloop.counter == 1 %} active-btn {% endif %}">{{tab.value.tab_title}}</li>
                                    {% endfor %}
                                    <!-- <li data-tab="#prod-details" class="tab-btn active-btn">Precautions</li>
                                    <li data-tab="#prod-spec" class="tab-btn">Intelligence</li>
                                    <li data-tab="#prod-reviews" class="tab-btn">Specializations</li> -->
                                </ul>
                                
                                <!--Tabs Container-->
                                <div class="tabs-content">
                                    {% for tab in page.tabs.tabs %}
                                        <div class="tab {% if forloop.counter == 1 %} active-tab {% endif %}" id="{{tab.value.tab_title|lower}}">
                                            <div class="content">
                                                <p>{{tab.value.tab_content}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--End Product Info Tabs-->  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}