  
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block content %}
   {% include 'banner.html' %}
   <div class="container">
      <section  class="landing-container">
         <h1><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
         <h3>
            {{self.thank_you_text|safe}}
         </h3>
      </section>
   </div>
   <style>
      @media(min-width:768px){
         .landing-container{
            min-height: 30rem;
            text-align: center; 
            padding: 5%;
         }
      }
      @media(max-width:767px){
         .landing-container{
            min-height: 17rem;
            text-align: center; 
            padding: 5%;
         }
      }
      .fa-envelope-o{
         font-size: 7rem;
         padding-bottom: 3rem;
      }
   </style>
{% endblock content%}