{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block content %}
    <!-- Bnner Section -->
    <section class="banner-section-two">
        <div class="banner-carousel owl-carousel owl-theme">
            {% for banner_slide in page.banner %}
                {% include_block banner_slide %}
            {% endfor %}
        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- Specialize Section -->
    <section class="specialize-section">
        <div class="auto-container">
            <div class="sec-title">
                <span class="float-text">Services</span>
                <h2>Our Specialization</h2>
            </div>

            <div class="services-carousel-two owl-carousel owl-theme">
                {% for service in page.services %}
                    {% include_block service %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Specialize Section -->

    <!-- Fun Fact And Features -->
    {% image page.features.counter_background fill-1831x539 as counter_background %}
    <section class="fun-fact-and-features"  style="background-image: url({{counter_background.url}});">
        <div class="outer-box">
            <div class="auto-container">
                <!-- Fact Counter -->
                <div class="fact-counter">
                    <div class="row">
                        {% for counter in page.features.counter %}
                            {% include_block counter %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Features -->
                <div class="features">
                    <div class="row">
                        {% for feature in page.features.feature %}
                            {% include_block feature %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Fun Fact Section -->

    <!-- Projects Section Two -->
    <section class="projects-section-two">
        <div class="auto-container">
            <div class="upper-box clearfix">
                <div class="sec-title">
                    <span class="float-text">Project</span>
                    <h2>Our Best Work</h2>
                </div>
                <div class="link-box"><a href="/projects">All Project <i class="fa fa-long-arrow-right"></i></a></div>
            </div>
            <div class="projects-carousel-two owl-carousel owl-theme">
                {% for project in recent_works %}
                    <div class="project-block-two">
                        <div class="image-box">
                            {% with project.images|first as first_img %}
                                {% image first_img.value.img fill-970x560 as project_img %}
                                <figure class="image"><img src="{{project_img.url}}" alt=""></figure>
                            {% endwith %}
                        </div>
                        <div class="info-box">
                            <div class="inner-box">
                                <span class="title">{{project.tech_stack}}</span>  
                                <h3>{{project.title}}</h3>
                                <div class="text">{{project.project_information|safe|slice:":60"}}...</div>
                                <div class="link-box"><a href="{{project.url}}">View Project</a></div>
                            </div> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End Projects Section Two -->

    
{% endblock %}
