{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block content %}
        {% include 'banner.html' %}    
        <!-- Blog Detail -->
        <div class="blog-detail style-two">
            <div class="inner-container">
                <!-- News Block -->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="image-box">
                            {% image page.blog_image fill-970x470 as img %}
                            <figure class="image"><img src="{{img.url}}" alt=""></figure>
                            <!-- <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-play"></span></a> -->
                        </div>
                        <div class="caption-box">
                            <div class="inner">
                                <h3>{{page.title}}</h3>
                                <ul class="info">
                                    <li>{{page.post_date|date:"M d Y"}}</li>
                                    <li>{{page.author}}</li>
                                </ul>
                                {{page.blog_content | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Share Option -->
                <div class="share-option">
                    <span class="title">Share This:</span>
                    <ul class="social-icon-colored clearfix">
                        <li class="facebook"><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li class="google-plus"><a href="https://aboutme.google.com" target="_blank"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        <li class="pinterest"><a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest-p"></i>Pinterest</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Blog Detail -->
{% endblock %}